/* File with styles for landing page for granmast */
* {
	margin: 0;
	padding: 0;
}
html, body {
	min-height: 100%;
}
html {
	width: 100%;
	background: yellow;
}
body {
	width: 1024px;
	background: red;
	margin: 0 auto;
	padding: 10px;
}
/* Header */
#header {
	height: 100%;
}
/* Content */
#content>.block {
	position: relative;
	width: 100%;
	text-align: center;
	padding: 30px 20px;
	background: green;
	box-sizing: border-box;

}